<div id="navigationCenter" class="largeText">


    <ul>
        <li><a  href="mailto:waleedahmed3045@gmail.com" rel="external" title="Hello">Send Email</a></li>
        <br>
        <li><a target="_blank"
               href="https://www.linkedin.com/in/waleed-ahmed-59131468?trk=nav_responsive_tab_profile_pic"
               rel="external">LinkedIn</a><br/>
        </li>
        <br>
        <li><a target="_blank" href="https://github.com/waleedahmed3045" rel="external" title="Hello">GitHub</a></li>

    </ul>
</div>